-- Insert tasks 6-12 for all 30 domains
-- Run this in Supabase SQL Editor

-- Drop old constraint
ALTER TABLE public.tasks DROP CONSTRAINT IF EXISTS tasks_task_number_check;

INSERT INTO public.tasks (domain, task_number, title, description)
  VALUES ('fullstack', 6, 'Advanced Feature Implementation', 'Implement advanced features with complex business logic and third-party integrations.')
  ON CONFLICT (domain, task_number) DO NOTHING;
INSERT INTO public.tasks (domain, task_number, title, description)
  VALUES ('fullstack', 7, 'API Development & Integration', 'Design and build RESTful APIs or integrate third-party services relevant to your domain.')
  ON CONFLICT (domain, task_number) DO NOTHING;
INSERT INTO public.tasks (domain, task_number, title, description)
  VALUES ('fullstack', 8, 'Database Design & Optimization', 'Design efficient schemas, write optimized queries, and implement indexing strategies.')
  ON CONFLICT (domain, task_number) DO NOTHING;

-- Add expanded constraint
ALTER TABLE public.tasks ADD CONSTRAINT tasks_task_number_check CHECK (task_number BETWEEN 0 AND 12);

